# enviroment
env
# python cache
__pycache__
# vscode
.vscode
# dataset
dataset
entrenamiento
images
facenet.png
manage.py
model_plot.png
multimedia
printModel.py
ai_server.py
old_files
Paper.md
training

# python scripts
freeze*
load_model*
test_frozen*
