<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Imgage Upload</title>
</head>
<body>
    <h1>Subir Imagenes</h1>
    <p>
        Aqui puedes obtener un ID registrado mediante el rostro de alguien, <br>
        suba varias imagenes para que el reconocimiento facial sea mas eficaz.<br>
        Las imagenes deben ser todas de la misma persona o el programa <br>
        no funcionara bien.<br><br>
    </p>
    <form method="POST" enctype="multipart/form-data", action="http://127.0.0.1:5000/identify">
        <label for="id_image_field">Enter images : </label>
        <input type="file" name="image_field" multiple>
        <br>
        <button type="submit" value="submit">Enviar!</button>
    </form>
    
</body>
</html>