<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Imgage Upload</title>
</head>
<body>
    <h1>Registro</h1>
    <p>
        Aqui puedes registrar el rostro que quieres identificar, <br>
        suba varias imagenes para que el reconocimiento sea mas eficaz.<br>
        Las imagenes deben ser todas de la misma persona o el programa <br>
        no funcionara bien.<br><br>
    </p>
    <form method="POST" enctype="multipart/form-data", action="http://127.0.0.1:5000/registro">
        <label for="id_int_field">Enter your ID : </label>
        <input type="number" name="Int_field:" required="" id="id_int_field">
        <br>
        <label for="id_image_field">Enter images : </label>
        <input type="file" name="image_field" multiple>
        <br>
        <button type="submit" value="submit">Guardar!</button>
    </form>
    
</body>
</html>